@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
    font-family:          ubuntu_cff;
    src:                  url('/ru/koldoon/fc/resources/fonts/Ubuntu-R.ttf');
    embedAsCFF:           true;
    advancedAntiAliasing: true;
}

@font-face {
    font-family:          ubuntu_cff;
    src:                  url('/ru/koldoon/fc/resources/fonts/Ubuntu-B.ttf');
    fontWeight:           bold;
    embedAsCFF:           true;
    advancedAntiAliasing: true;
}

@font-face {
    font-family:          ubuntu_mx;
    src:                  url('/ru/koldoon/fc/resources/fonts/Ubuntu-R.ttf');
    embedAsCFF:           false;
    advancedAntiAliasing: true;
    fontAntiAliasType:    advanced;
    fontThickness:        100;
}

@font-face {
    font-family:          ubuntu_mx;
    src:                  url('/ru/koldoon/fc/resources/fonts/Ubuntu-B.ttf');
    fontWeight:           bold;
    embedAsCFF:           false;
    advancedAntiAliasing: true;
    fontAntiAliasType:    advanced;
    fontThickness:        100;
}

@font-face {
    font-family: consolas_cff;
    src:         url('/ru/koldoon/fc/resources/fonts/consola.ttf');
    embedAsCFF:  true;
}

@font-face {
    font-family: consolas_cff;
    src:         url('/ru/koldoon/fc/resources/fonts/consolab.ttf');
    fontWeight:  bold;
    embedAsCFF:  true;
}

@font-face {
    font-family:          consolas_mx;
    src:                  url('/ru/koldoon/fc/resources/fonts/consola.ttf');
    fontAntiAliasType:    advanced;
    advancedAntiAliasing: true;
    embedAsCFF:           false;
}

@font-face {
    font-family:          consolas_mx;
    src:                  url('/ru/koldoon/fc/resources/fonts/consolab.ttf');
    fontAntiAliasType:    advanced;
    advancedAntiAliasing: true;
    fontWeight:           bold;
    embedAsCFF:           false;
}

@font-face {
    font-family:          icon_mx;
    src:                  url('/ru/koldoon/fc/resources/fonts/fontawesome-webfont.ttf');
    fontAntiAliasType:    advanced;
    advancedAntiAliasing: true;
    embedAsCFF:           false;
}

@font-face {
    font-family: icon_cff;
    src:         url('/ru/koldoon/fc/resources/fonts/fontawesome-webfont.ttf');
    fontWeight:  normal;
    embedAsCFF:  true;
}

mx|TextArea {
    fontFamily:             consolas_mx;
    borderVisible:          false;
    focusThickness:         0;
    contentBackgroundAlpha: 0;
}

mx|ToolTip {
    fontFamily: ubuntu_mx;
}

mx|Label {
    /*fontFamily: "Droid Sans Mono", "Monaco";*/
    /*fontFamily: "Monaco";*/
    /*fontFamily: "Menlo";*/
    /*fontFamily: "Consolas";*/
    /*fontWeight: bold;*/;
}

s|SkinnableTextBase {
    fontFamily: ubuntu_cff;
    focusAlpha: 0;
}

s|TextBase {
    /*fontFamily: "Avenir Next Medium", "Droid Sans Mono", "Monaco";*/
    fontFamily: ubuntu_cff;
    focusAlpha: 0;
}

/* Styles */

.icon {
    fontFamily: icon_cff;
}

.ui {
    fontFamily: ubuntu_cff;
}

.fixed {
    fontFamily: consolas_cff;
}
